@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.User.UserDetail>


    <div class="row mt-4">
    <div class="col-12 text-center">
            <p class="text-uppercase">User Listing</p>
        </div>
    </div>

<div class="card mt-4 sitebackground siteColor">
        <div class="card-body customtable">
            @* <h5 class="card-title">Users</h5> *@
            <!-- Table with hoverable rows -->
            <table class="table table-hover" id="userList">
                <thead>
                <tr class="tableHeaderClass">
                    <th scope="col"><p class="">User Number</p></th>
                    <th scope="col"><p class="">Created Date</p></th>
                    <th scope="col"><p class="">Coins (<i class="bi bi-currency-rupee"></i>)</p></th>
                    <th scope="col"><p class="">Action</p></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.ReturnList != null)
                    {
                        @foreach (var user in Model.ReturnList)
                        {
                            <tr>
                            <th scope="row"><p>@user.UserNumber</p></th>
                            <td><p>@user.CreatedDate</p></td>
                            <td><p>@user.Coins</p></td>
                                <td>
                                    <div class="btn-group">
                                    @* <button type="button" data-toggle="modal" data-target="#DepositCoinsModal" userId=@user.UserId UserNumber="@user.UserNumber" id="depositeCoinsBtn"> <i class="bi bi-person-fill-up"></i></button>
                                    <button type="button" data-toggle="modal" data-target="#WithdrawCoinsModal" userId=@user.UserId UserNumber="@user.UserNumber" id="withdrawCoinsBtn"> <i class="bi bi-person-fill-down"></i> </button> *@
                                    <button type="button" userId=@user.UserId UserNumber="@user.UserNumber" id="ListCoinsBtn"> <i class="bi bi-cash"></i> </button>
                                    <button type="button" data-toggle="modal" data-target="#DeleteUserModal" userId=@user.UserId UserNumber="@user.UserNumber" id="deleteUserBtn"> <i class="bi bi-person-fill-slash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!-- End Table with hoverable rows -->
        </div>
    </div>

