@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.SiteDetails.AccountRequest>

<div class='dashboard-content'>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p class="text-uppercase">Account Requests</p>
        </div>
    </div>

    <div class="card mt-4 sitebackground siteColor">
        <div class="card-body customtable">
            @* <h5 class="card-title">Account Requests</h5> *@
            <!-- Table with hoverable rows -->
            <table class="table table-hover" id="userList">
                <thead>
                    <tr class="tableHeaderClass">
                        <th scope="col"><p class="text-uppercase">User Number</p></th>
                        <th scope="col"><p class="text-uppercase">Application</p></th>
                        <th scope="col"><p class="text-uppercase">Action</p></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                    {
                        @foreach (var account in Model.ReturnList)
                        {
                            <tr id="accountRequest_@account.AccountRequestID">
                                <td scope="row" class="userNumber" userName="@account.UserName" userNumber="@account.UserNumber"><p>@account.UserNumber</p></td>
                                <td class="sitedetails" siteName="@account.SiteName" siteUrl="@account.SiteURL" iconPath="@Configuration["StoragePath:SiteIcon:Path"]\@account.DocumentDetailId.@account.FileExtenstion"><p>@account.SiteName (@account.SiteURL)</p></td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#CreateIDModal" accountRequestID="@account.AccountRequestID" id="CreateIDModalBtn"> <i class="bi bi-pencil-square"></i> </button>
                                        <button type="button" data-toggle="modal" data-target="#DeleteAccountRequestModel" accountRequestID="@account.AccountRequestID" id="DeleteAccountRequestList"> <i class="bi bi-trash-fill"></i> </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-center"><td colspan="4"><p>No Data Found!!</p></td></tr>
                    }
                </tbody>
            </table>
            <!-- End Table with hoverable rows -->
        </div>
    </div>
</div>


<!-- Create ID Modal -->
<div class="modal fade" id="CreateIDModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content siteColor">
            <form id="CreateIDModalForm">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">CREATE ID</p>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Name</span>
                            <span class="pSiteURLFontSize siteURL">URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username*</label>
                        <input type="text" name="Username" class="form-control Username" placeholder="User Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Password*</label>
                        <input type="text" name="password" class="form-control password" placeholder="Password" autocomplete="off">
                    </div>
                    <div class="nav-item-divider"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Create ID</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create ID Modal-->
<!-- Modal -->
<div class="modal fade" id="DeleteAccountRequestModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Delete Account Request</p>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Are you sure, want to delete Account Request?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground DeleteAccountRequestBtn">Delete Account Request</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
