@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHttpContextAccessor Accessor;
@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>KA Punter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* <link href="~/css/fonts.css" rel="stylesheet" /> *@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    @* <script src="~/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @* <link href="~/css/bootstrap-icons.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    @* <link href="~/css/bootstrap.min.css" rel="stylesheet"/> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="main">
                <div class='dashboard'>
                    <div class="dashboard-nav">
                        <header>
                            <a href="" class="menu-toggle"><i class="bi bi-list"></i></a><a href="@Configuration["ApiConfigs:MultilogApp:Uri"]"
                                                                                            class="brand-logo">
                                <i class="fas fa-anchor"></i> <span>KA Puntetrs</span>
                            </a>
                        </header>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <nav class="dashboard-nav-list">
                                <a href="#" class="dashboard-nav-item"><i class="bi bi-person"></i> Profile </a>
                                <a href="@Configuration["ApiConfigs:MultilogApp:Uri"]" class="dashboard-nav-item active">
                                    <i class="bi bi-house"></i> dashboard
                                </a>
                                @if (User.Claims.Any(x => x.Type.Contains("Admin")))
                                {
                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-person"></i> Accounts
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/Account/Index?viewType=AcRequest" class="dashboard-nav-dropdown-item"> <i class="bi bi-people"></i> Account Requests</a>
                                            <a href="/Account/Index?viewType=Accounts" class="dashboard-nav-dropdown-item"> <i class="bi bi-person-fill-add"></i> Created Accounts</a>
                                            <a href="/Account/Index?viewType=RejectedAcRequests" class="dashboard-nav-dropdown-item"> <i class="bi bi-person-fill-dash"></i> Rejected Accounts</a>
                                        </div>
                                    </div>

                                }

                                <div class='dashboard-nav-dropdown'>
                                    <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                        <i class="bi bi-person"></i> Bank Details
                                    </a>
                                    <div class='dashboard-nav-dropdown-menu'>
                                        <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#AddBankDetailModal" id="AddBankDetailModalBtn"> <i class="bi bi-people"></i> Add Bank Detail</a>
                                        <a href="/BankAccount/Index" class="dashboard-nav-dropdown-item"> <i class="bi bi-person-fill-add"></i> List Banks</a>
                                    </div>
                                </div>

                                <div class='dashboard-nav-dropdown'>
                                    <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                        <i class="bi bi-person"></i> Notifications
                                    </a>
                                    <div class='dashboard-nav-dropdown-menu'>
                                        <a href="/Notification/Index" class="dashboard-nav-dropdown-item"> <i class="bi bi-person-fill-add"></i> List Banks</a>
                                    </div>
                                </div>
                                @if (User.Claims.Any(x => x.Type.Contains("Admin")))
                                {
                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-cart"></i> Sites
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/Site/Index?viewType=Admin" class="dashboard-nav-dropdown-item"><i class="bi bi-cart4"></i>Sites</a>
                                            <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#AddSitesModal" id="AddSitesModalbtn"><i class="bi bi-cart-plus-fill"></i>Add Site</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-cash-coin"></i> Coin Requests
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#DepositCoinsRequestModal" id="DepositCoinsRequestModalBtn"><i class="bi bi-cash-coin"></i>Desposit Request</a>
                                            <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#WithdrawCoinsRequestModal"><i class="bi bi-cash-coin"></i>Withdraw Request</a>
                                            <a href="/Coin/Index?viewType=Deposite" class="dashboard-nav-dropdown-item"><i class="bi bi-cash-coin"></i>List Desposit Requests</a>
                                            <a href="/Coin/Index?viewType=Withdraw" class="dashboard-nav-dropdown-item"><i class="bi bi-cash-coin"></i>List Withdraw Requests</a>
                                        </div>
                                    </div>
                                
                                <div class='dashboard-nav-dropdown'>
                                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                        <i class="bi bi-people"></i> Users
                                    </a>
                                    <div class='dashboard-nav-dropdown-menu'>
                                        <a href="/User/Index" class="dashboard-nav-dropdown-item"><i class="bi bi-people"> </i>List User</a>
                                        <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#AddUserModal" id="LayoutAddUserBtn"><i class="bi bi-person-add"></i>Add Users</a>
                                    </div>
                                </div>
                                }

                                <a href="#" class="dashboard-nav-item"><i class="bi bi-gear-fill"></i> Settings </a>
                                <div class="nav-item-divider"></div>
                                <a href="/LoginSignup/SignOut" class="dashboard-nav-item"><i class="bi bi-box-arrow-right"></i> Logout </a>
                                <a href="#" class="dashboard-nav-item"><i class="bi bi-box-arrow-right"></i> Login with Demo ID </a>
                            </nav>
                        }
                        <div class="nav-item-divider"></div>
                        <a href="#" class="dashboard-nav-item"><i class="bi bi-cloud-arrow-down-fill"></i> Download App </a>
                        <div class="social-icons-btn ms-5">
                            <a class="icons twitter" href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a class="icons facebook" href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="icons instagram" href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a class="icons linkedin" href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>

                    </div>
                    <div class='dashboard-app'>
                        <header class='dashboard-toolbar'>
                            <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
                            <div class="cricket-navigation">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <ul class="nav navbar-right">
                                        <li style="padding-top: 14px; padding-right: 30px;">
                                            <a href="#">Demo ID</a>
                                        </li>
                                        <li>
                                            <button data-toggle="modal" data-target="#LoginModal" class="btn btn-primary mb-3 mb-lg-0" tabindex="0" id="loginbtn">Log In</button>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </header>
                        @RenderBody()

                    </div>

                    <!-- Login Modal -->
                    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content container">
                                <div class="row justify-content-center">
                                    <div class="">
                                        <div class="card">
                                            <div style="display: flex;justify-content:space-between;">
                                                <h4 class="modal-title" id="exampleModalLabel"></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="card-header py-4 text-center bg-primary">
                                                <a href="index.html">
                                                    <span><img src="~/images/banner_ipl.png" alt="logo" height="22"></span>
                                                </a>
                                            </div>
                                            <form id="LoginModalForm">
                                                <div class="card-body p-4 form-group">

                                                    <div class="text-center w-75 m-auto">
                                                        <h4 class="text-dark-50 text-center pb-0 fw-bold">Sign In</h4>
                                                        <p class="text-muted mb-4">Enter your Credentials!</p>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="userNumber" class="form-label">User Number</label>
                                                        <input class="form-control" type="number" id="userNumber" name="userNumber" required="" placeholder="User Number">
                                                    </div>

                                                    <div class="mb-3">

                                                        <label for="password" class="form-label">Password</label>
                                                        <div class="input-group input-group-merge">
                                                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
                                                            <div class="input-group-text" data-password="false">
                                                                <span class="password-eye"></span>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="text-muted float-end"><small>Forgot your password?</small></a>
                                                    </div>

                                                    <div class="mb-3 mb-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="checkbox-signin" checked="">
                                                            <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 mb-0 text-center">
                                                        <button class="btn btn-primary" type="submit"> Log In </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 text-center">
                                                <p class="text-muted">Don't have an account? <a href="#" class="text-muted ms-1"><b>Sign Up</b></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Login Modal -->
                    <!-- Deposit Coins Request Modal -->
                    <div class="modal fade" id="DepositCoinsRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="DepositCoinsRequestModalForm">
                                    <div class="modal-header text-center col-12">
                                        <h4 class="modal-title" id="exampleModalLabel">Deposit</h4>
                                        <button type="button" class="close col-4" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Deposite Coins*</label>
                                            <input type="text" name="coins" id="coins" class="form-control" placeholder="Enter Coins">
                                            <span>*Minimum deposite amount is 100 coins</span>
                                        </div>

                                    </div>

                                    <div class="modal-footer col-12">
                                        <button type="submit" class="btn btn-success col-12">Deposit Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="PaymentModesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center col-12">
                                    <h4 class="modal-title" id="exampleModalLabel">Deposit (<span id="depositAmount"></span>)</h4>
                                    <button type="button" class="close col-4" data-dismiss="modal" aria-label="Close" id="closePaymentModesModal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="PaymentModeList">
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes" id="QRCode" style="color: white;">QR Code</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes" id="BankTr" style="color: white;">Bank Transfer</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes" id="PhonePe" style="color: white;">Phone Pe</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                    </div>
                                    <div class="nav-item-divider"></div>
                                    <div class="nav-item-divider"></div>
                                    <div class="nav-item-divider"></div>
                                    <div class="PaymentModeTypesDetailList">
                                        <div class="PaymentModeTypesDetail" id="QRCodeDetail">
                                            <div class="d-flex flex-column text-center col-12">
                                                <img src="~/images/banner_ipl.png" />
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" id="BankTrDetail">
                                            <div class="d-flex flex-column col-12">
                                                <div class="row col-12">
                                                    <div class="col-5"> Bank Name </div>
                                                    <div class="col-5"> Sate Bankn of India </div>
                                                    <div class="col-2 CopyToClipboard" data-value="Sate Bankn of India"> <i class="bi bi-copy"></i>Copy </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Account Holder Name </div>
                                                    <div class="col-5"> Vikas </div>
                                                    <div class="col-2 CopyToClipboard" data-value="Vikas"> <i class="bi bi-copy"></i>Copy </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Account Number </div>
                                                    <div class="col-5"> 98765432 </div>
                                                    <div class="col-2 CopyToClipboard" data-value="98765432"> <i class="bi bi-copy"></i>Copy </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> IFSC Code </div>
                                                    <div class="col-5"> SBIN2934587 </div>
                                                    <div class="col-2 CopyToClipboard" data-value="SBIN2934587"> <i class="bi bi-copy"></i>Copy </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" id="PhonePeDetail">
                                            <div class="d-flex flex-column col-12">
                                                <div class="row col-12">
                                                    <div class="col-5"> Display Name </div>
                                                    <div class="col-5"> UPI Details </div>
                                                    <div class="col-2"> Action </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Name </div>
                                                    <div class="col-5"> asfs@axl </div>
                                                    <div class="col-2 CopyToClipboard" data-value="asfs@axl"> <i class="bi bi-copy"></i>Copy </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" method="post" enctype="multipart/form-data" style="margin-top: 10px" id="proofUpload">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <input type="file" name="files" id="files" multiple />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="modal-footer col-12">
                                            <button type="button" class="btn btn-success col-12" id="DesitCoins">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Deposit Coins Request Modal -->
                    <!-- Withdraw Coins Request Modal -->
                    <div class="modal fade" id="WithdrawCoinsRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <style>
                                .nav-item-divider {
                                    background-color: rgb(20 24 25 / 30%);
                                }
                            </style>
                            <div class="modal-content">
                                <form id="WithdrawCoinsRequestModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Withdraw</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Withdaw Coins*</label>
                                            <input type="text" name="coins" id="coins" class="form-control" placeholder="Enter Coins">
                                            <span>*Minimum withdaw amount is 100 coins</span>
                                        </div>

                                        <div class="nav-item-divider"></div>

                                        <div class="container">
                                            <div class="row col-12">
                                                <div class="col col-6">
                                                    Preffered Bank
                                                </div>
                                                <div class="col col-6 bankListDropdown">
                                                    <select class="form-select form-select-md mb-3" onchange="ChangeWithDrawBank()" aria-label="">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="WithDrawCoinsBankDetail" id="WithDrawCoinsBankDetail">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success col-12">Withdraw Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Withdraw Coins Request Modal-->
                    <!-- Add sites Modal -->
                    <div class="modal fade" id="AddSitesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="AddSiteModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Site</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Site Name</label>
                                            <input id="siteName" name="siteName" type="text" class="form-control" placeholder="Site Name">
                                            <label>Site URL</label>
                                            <input id="siteURL" name="siteURL" type="text" class="form-control" placeholder="Site URL">
                                            <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <input type="file" name="files" id="files" />  @*multiple*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Add Site</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add sites Modal-->
                    <!-- Add user Modal -->
                    <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="AddUserModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Add User</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input id="FName" name="FName" type="text" class="form-control" placeholder="First Name">
                                            <label>Last Name</label>
                                            <input id="LName" name="LName" type="text" class="form-control" placeholder="Last Name">
                                            <label>Mobile Number</label>
                                            <input id="MNumber" name="MNumber" type="text" class="form-control" placeholder="Mobile Number">
                                            <label>Password</label>
                                            <input id="UPassword" name="UPassword" type="text" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Add User</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add user Modal-->
                    <!-- Deposit Coins Modal -->
                    <div class="modal fade" id="DepositCoinsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="DepositCoinsForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Deposit</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>User Number</label>
                                            <input disabled type="text" id="userNumber" name="userNumber" class="form-control" placeholder="User Number">
                                            <label>Coins</label>
                                            <input type="text" id="Coins" name="coins" class="form-control" placeholder="Coins">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Deposit Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Deposit Coins Modal -->
                    <!-- Withdraw Coins Modal -->
                    <div class="modal fade" id="WithdrawCoinsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="WithdrawCoinsForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Withdraw</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>User Number</label>
                                            <input disabled type="text" id="userNumber" name="userNumber" class="form-control" placeholder="User Number">
                                            <label>Coins</label>
                                            <input type="text" id="Coins" name="coins" class="form-control" placeholder="Coins">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Withdraw Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Withdraw Coins Modal-->
                    <!-- Add Bank Details Modal -->
                    <div class="modal fade" id="AddBankDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="AddBankDetailForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Add Bank Detail</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input id="BName" name="BName" type="text" class="form-control" placeholder="Bank Name">
                                            <label>Account Holder Name</label>
                                            <input id="AHName" name="AHName" type="text" class="form-control" placeholder="Account Holder Name">
                                            <label>Account Number</label>
                                            <input id="ANumber" name="ANumber" type="text" class="form-control" placeholder="Account Number">
                                            <label>IFSC Code</label>
                                            <input id="IFSCCode" name="IFSCCode" type="text" class="form-control" placeholder="IFSC Code">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Add Bank Account</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Bank Details Modal-->

                </div>
            </div>
        </main>
    </div>

    <div class="card mt-4 footer-nav footernavbar">
        <div class="row col-12">
            <div class="col-4 grid-margin stretch-card">
                <div class="card" style="background: black;">
                    <div class="card-body text-center">
                        <div class="row">
                            <i class="bi bi-arrow-up text-success"></i>
                        </div>
                        <h6 class="text-muted font-weight-normal">
                            <a href="#"> Home </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-4 grid-margin stretch-card" id="IDsList">
                <div class="card" style="background: black;">
                    <div class="card-body text-center">
                        <div class="row">
                            <i class="bi bi-arrow-up text-success"></i>
                        </div>
                        <h6 class="text-muted font-weight-normal">
                            <a href="#"> IDs </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-4 grid-margin stretch-card">
                <div class="card" style="background: black;">
                    <div class="card-body text-center">
                        <div class="row">
                            <i class="bi bi-arrow-up text-success"></i>
                        </div>
                        <h6 class="text-muted font-weight-normal">
                            <a href="#"> Passbook </a>
                        </h6>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MultiLogApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="~/formvalidationio/js/formvalidation.min.js"></script>
    <script src="~/formvalidationio/js/plugins/bootstrap3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/userlisting.js"></script>
    <script src="~/js/coins/coins.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/accounts/accountlist.js"></script>
    <script src="~/js/accounts/accountrequestlist.js"></script>
    <script src="~/js/bankdetails.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
