@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHttpContextAccessor Accessor;
@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>KA Punter</title>
    <link rel="icon" type="image/x-icon" href="/images/kapunterIcon.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* <link href="~/css/fonts.css" rel="stylesheet" /> *@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    @* <script src="~/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @* <link href="~/css/bootstrap-icons.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    @* <link href="~/css/bootstrap.min.css" rel="stylesheet"/> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/commonsite.css" rel="stylesheet" />

</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="main">
                <div class='coinsValidation' data-coins="@coins">
                    <div class="dashboard-nav">
                        <header class="row col-12" style="padding:0px">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-12" data-toggle="modal" data-target="#LogOutModal" style="text-align: end;color: white;font-size: x-large;">
                                    <i class="bi bi-box-arrow-right"></i>
                                </div>
                            }
                            <div class="col-12">
                                <a href="" class="menu-toggle"><i class="bi bi-list"></i></a><a href="@Configuration["ApiConfigs:MultilogApp:Uri"]"
                                                                                                class="brand-logo">
                                    <img src="/images/kapunterIcon.jpg" alt="cricket ipl" class=""
                                         style="border-radius: 10px 10px 10px 10px;width: 50%;height: auto;margin-left: 50px;">
                                </a>
                            </div>

                        </header>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <nav class="dashboard-nav-list pSiteNameFontSize">
                                @if (!User.Claims.Any(x => x.Type.Contains("Admin")))
                                {
                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-person"></i> Profile </a>
                                    <a href="/BankAccount/Index?viewType=beneficiary" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-bank2"></i> Withdraw Details </a>
                                    <a href="#" class="dashboard-nav-item closeMobileMenu IDsList"><i class="bi bi-plus-circle-fill"></i> Create Id </a>
                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-star-fill"></i> Bonus </a>
                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-fast-forward-fill"></i> Loss Back </a>
                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-file-pdf-fill"></i> Rules </a>

                                    <div class="nav-item-divider"></div>

                                    <div class="social-icons-btn ms-5">
                                        <a class="icons instagram" href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                        <a class="icons telegram" href="#">
                                            <i class="bi bi-telegram"></i>
                                        </a>
                                    </div>

                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-file-earmark-text-fill"></i> Terms </a>
                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-tag-fill"></i> Offers </a>
                                    <a href="/Notification/Index" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-bell-fill"></i> Notifications </a>
                                }

                                @if (User.Claims.Any(x => x.Type.Contains("Admin")))
                                {
                                    <a href="@Configuration["ApiConfigs:MultilogApp:Uri"]" class="dashboard-nav-item closeMobileMenu">
                                        <i class="bi bi-house"></i> dashboard
                                    </a>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-person"></i> Dashboard Images
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/Home/Index?viewType=AdminImg" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-people"></i> List Image </a>
                                            <a href="#" class="dashboard-nav-dropdown-item closeMobileMenu" data-toggle="modal" data-target="#AddImgModal" id="AddImgModalBtn"><i class="bi bi-cart-plus-fill"></i>Add Image</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-person"></i> Accounts
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/Account/Index?viewType=AcRequest" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-people"></i> Account Requests</a>
                                            <a href="/Account/Index?viewType=Accounts" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-person-fill-add"></i> Created Accounts</a>
                                            <a href="/Account/Index?viewType=RejectedAcRequests" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-person-fill-dash"></i> Rejected Accounts</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-bank2"></i> Bank Details
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            @*<a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#AddAdminBankDetailModal" id="AddAdminBankDetailModalBtn"> <i class="bi bi-file-earmark-plus"></i> Add Bank Detail</a>*@
                                            <a href="/BankAccount/Index?viewType=adminBank" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-bank"></i> List Vendor Banks</a>

                                            <a href="/BankAccount/Index?viewType=adminUpi" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-bank"></i> List Vendor Upi</a>

                                            <a href="/BankAccount/Index?viewType=adminQR" class="dashboard-nav-dropdown-item closeMobileMenu"> <i class="bi bi-bank"></i> List Vendor QR</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-cart"></i> Sites
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/Site/Index?viewType=Admin" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-cart4"></i>Sites</a>
                                            <a href="#" class="dashboard-nav-dropdown-item closeMobileMenu" data-toggle="modal" data-target="#AddSitesModal" id="AddSitesModalbtn"><i class="bi bi-cart-plus-fill"></i>Add Site</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-cash-coin"></i> Coin Requests
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            @*  <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#DepositCoinsRequestModal" id="DepositCoinsRequestModalBtn"><i class="bi bi-cash-coin"></i>Desposit Request</a>
                                    <a href="#" class="dashboard-nav-dropdown-item" data-toggle="modal" data-target="#WithdrawCoinsRequestModal"><i class="bi bi-cash-coin"></i>Withdraw Request</a>*@
                                            <a href="/Coin/Index?viewType=DepositeToSite" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-cash-coin"></i>Deposit to Site Requests</a>
                                            <a href="/Coin/Index?viewType=WithdrawFromSite" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-cash-coin"></i>Withdraw from Site Requests</a>
                                            <a href="/Coin/Index?viewType=Deposite" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-cash-coin"></i>Desposit To Wallet Requests</a>
                                            <a href="/Coin/Index?viewType=Withdraw" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-cash-coin"></i>Withdraw From Wallet Requests</a>
                                        </div>
                                    </div>

                                    <div class='dashboard-nav-dropdown'>
                                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                                            <i class="bi bi-people"></i> Users
                                        </a>
                                        <div class='dashboard-nav-dropdown-menu'>
                                            <a href="/User/Index" class="dashboard-nav-dropdown-item closeMobileMenu"><i class="bi bi-people"> </i>List User</a>
                                            <a href="#" class="dashboard-nav-dropdown-item closeMobileMenu" data-toggle="modal" data-target="#AddUserModal" id="LayoutAddUserBtn"><i class="bi bi-person-add"></i>Add Users</a>
                                        </div>
                                    </div>

                                    <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-gear-fill"></i> Settings </a>
                                }

                                <a href="#" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-cloud-arrow-down-fill"></i> Download App </a>
                                <div class="nav-item-divider"></div>
                                <a @* href="/LoginSignup/SignOut" *@ href="#" data-toggle="modal" data-target="#LogOutModal" class="dashboard-nav-item closeMobileMenu"><i class="bi bi-box-arrow-right"></i> Logout </a>
                                <a href="#" class="dashboard-nav-item"><i class="bi bi-box-arrow-right"></i> Login with Demo ID </a>
                            </nav>
                        }
                        @* <div class="nav-item-divider"></div>
                        <a href="#" class="dashboard-nav-item"><i class="bi bi-cloud-arrow-down-fill"></i> Download App </a>
                        <div class="social-icons-btn ms-5">
                        <a class="icons twitter" href="#">
                        <i class="bi bi-twitter"></i>
                        </a>
                        <a class="icons facebook" href="#">
                        <i class="bi bi-facebook"></i>
                        </a>
                        <a class="icons instagram" href="#">
                        <i class="bi bi-instagram"></i>
                        </a>
                        <a class="icons linkedin" href="#">
                        <i class="bi bi-linkedin"></i>
                        </a>
                        </div>
                        *@
                    </div>
                    <div class='dashboard-app'>
                        <header class='dashboard-toolbar'>

                            <div class="row col-12">
                                <div class="col-3">
                                    <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a>
                                </div>
                                <div class="col-9 text-center">
                                    
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                        <div class="cricket-navigation">
                                            <ul class="nav navbar-right">
                                                @*  <li style="padding-top: 14px; padding-right: 30px;">
                                            <a href="#">Demo ID</a>
                                            </li> *@
                                                <li>
                                                    <button data-toggle="modal" data-target="#LoginModal" class="btn siteBtnbackground mb-3" tabindex="0" id="loginbtn">Login | Signup</button>
                                                </li>
                                            </ul>
                                        </div>
                                        }
                                        else
                                        {
                                            <h4 class="ContentHeader"></h4>
                                        }
                            </div>


                            
                            
                            </div>
                        </header>
                        @RenderBody()

                    </div>


                    <!-- Deposit Coins Request Modal -->
                    <div class="modal fade" id="DepositCoinsRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog siteColor">
                            <div class="modal-content siteColor">
                                <form id="DepositCoinsRequestModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Deposit</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Deposite Coins*</label>
                                            <input type="number" name="coins" class="form-control coins" placeholder="Enter Coins" autocomplete="off">
                                            <span>*Minimum deposite amount is 100 coins</span>
                                        </div>

                                    </div>

                                    <div class="modal-footer col-12">
                                        <button type="submit" class="btn siteBtnbackground col-12">Deposit Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="PaymentModesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog siteColor">
                            <div class="modal-content siteColor">
                                <div class="modal-header text-center col-12">
                                    <h4 class="modal-title" id="exampleModalLabel">Deposit (<span id="depositAmount"></span>)</h4>
                                    <div type="button" class="close" data-dismiss="modal" aria-label="Close" id="closePaymentModesModal">
                                        <i class="bi bi-x-circle-fill"></i>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div id="PaymentModeList">
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes siteBtnbackground" id="QRCode">QR Code</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes siteBtnbackground" id="BankTr">Bank Transfer</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="col-12" style="background-color: #191928;">
                                            <button type="button" class="btn col-12 PaymentModeTypes siteBtnbackground" id="PhonePe">Phone Pe</button>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                    </div>
                                    <div class="PaymentModeTypesDetailList pSiteNameFontSize">
                                        <div class="PaymentModeTypesDetail" id="QRCodeDetail">
                                            <div class="d-flex flex-column text-center col-12">
                                                <img class="siteheightwidth100" src="~/images/payment/qascanner.jpg" />
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" id="BankTrDetail">
                                            <div class="d-flex flex-column col-12">
                                                <div class="row col-12">
                                                    <div class="col-5"> Bank Name </div>
                                                    <div class="col-5 bankName">  </div>
                                                    <div class="col-2 CopyToClipboard bankNameCopy" copyData="">
                                                        <svg width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Account Holder Name </div>
                                                    <div class="col-5 accountHolderName"> </div>
                                                    <div class="col-2 CopyToClipboard accountHolderNameCopy" copyData="">
                                                        <svg width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Account Number </div>
                                                    <div class="col-5 accountNumber"> </div>
                                                    <div class="col-2 CopyToClipboard accountNumberCopy" copyData="">
                                                        <svg width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> IFSC Code </div>
                                                    <div class="col-5 IFSCCode"> </div>
                                                    <div class="col-2 CopyToClipboard IFSCCodeCopy" copyData="">
                                                        <svg width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" id="PhonePeDetail">
                                            <div class="d-flex flex-column col-12">
                                                <div class="row col-12">
                                                    <div class="col-5"> Display Name </div>
                                                    <div class="col-5"> UPI Details </div>
                                                    <div class="col-2"> Action </div>
                                                </div>
                                                <div b-8bhurmbywf="" class="nav-item-divider-small"></div>
                                                <div class="row col-12">
                                                    <div class="col-5"> Name </div>
                                                    <div class="col-5 upiCode"> asfs@axl </div>
                                                    <div class="col-2 CopyToClipboard upiCodeCopy" copyData="asfs@axl">
                                                        <svg width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="PaymentModeTypesDetail" method="post" enctype="multipart/form-data" style="margin-top: 10px" id="proofUpload">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <input type="file" name="files" class="files" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="modal-footer col-12">
                                            <button type="button" class="btn siteBtnbackground col-12" id="DesitCoins">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Deposit Coins Request Modal -->
                    <!-- Withdraw Coins Request Modal -->
                    <div class="modal fade" id="WithdrawCoinsRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <style>
                                .nav-item-divider {
                                    background-color: rgb(20 24 25 / 30%);
                                }
                            </style>
                            <div class="modal-content siteColor">
                                <form id="WithdrawCoinsRequestModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Withdraw</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Withdaw Coins*</label>
                                            <input type="number" name="coins" class="form-control coins" placeholder="Enter Coins" autocomplete="off">
                                            <span>*Minimum withdaw amount is 100 coins</span>
                                        </div>

                                        <div class="nav-item-divider"></div>

                                        <div class="container form-group">
                                            <div class="row col-12">
                                                <div class="col col-6">
                                                    Preffered Bank
                                                </div>
                                                <div class="col col-6 bankListDropdown">
                                                    <select class="form-select form-select-md mb-3" name="bankDropdown" onchange="ChangeWithDrawBank()" aria-label="">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nav-item-divider"></div>
                                        <div class="WithDrawCoinsBankDetail" id="WithDrawCoinsBankDetail">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn col-12 siteBtnbackground">Withdraw Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Withdraw Coins Request Modal-->
                    <!-- Add sites Modal -->
                    <div class="modal fade" id="AddSitesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="AddSiteModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Site</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Site Name</label>
                                            <input name="siteName" type="text" class="form-control siteName" placeholder="Site Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Site URL</label>
                                            <input name="siteURL" type="text" class="form-control siteURL" placeholder="Site URL" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <input type="file" name="files" class="files" />  @*multiple*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground col-12">Add Site</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add sites Modal-->
                    <!-- Add user Modal -->
                    <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="AddUserModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Add User</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input name="FName" type="text" class="form-control FName" placeholder="First Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input name="LName" type="text" class="form-control LName" placeholder="Last Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile Number*</label>
                                            <input name="MNumber" type="text" class="form-control MNumber" placeholder="Mobile Number" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Password*</label>
                                            <input name="UPassword" type="text" class="form-control UPassword" placeholder="Password" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn col-12 siteBtnbackground">ADD USER</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add user Modal-->
                    <!-- Deposit Coins Modal -->
                    <div class="modal fade" id="DepositCoinsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="DepositCoinsForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Deposit</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>User Number</label>
                                            <input disabled type="text" name="userNumber" class="form-control userNumber" placeholder="User Number" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Coins</label>
                                            <input type="text" name="coins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground">Deposit Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Deposit Coins Modal -->
                    <!-- Deposit Proof Modal -->
                    <div class="modal fade" id="ViewCoinRequestProof" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Image View</h4>
                                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="bi bi-x-circle-fill"></i>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-12">
                                        <img src="" alt="cricket ipl" class="rounded-3 siteheightwidth100 paymentProof">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Deposit Proof Modal -->
                    <!-- Withdraw Coins Modal -->
                    <div class="modal fade" id="WithdrawCoinsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="WithdrawCoinsForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Withdraw</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="business">WALLET BALANCE</span>
                                                <span class="plan"><i class="bi bi-currency-rupee"></i>@coins</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>User Number</label>
                                            <input disabled type="text" name="userNumber" class="form-control userNumber" placeholder="User Number" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Coins</label>
                                            <input type="text" name="coins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground">Withdraw Coins</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Withdraw Coins Modal-->
                    <!-- Add Bank Details Modal -->
                    <div class="modal fade" id="AddBankDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="AddBankDetailForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Add Bank Detail</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input name="BName" type="text" class="form-control BName" placeholder="Bank Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Account Holder Name</label>
                                            <input name="AHName" type="text" class="form-control AHName" placeholder="Account Holder Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Account Number</label>
                                            <input name="ANumber" type="number" class="form-control ANumber" placeholder="Account Number" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>IFSC Code</label>
                                            <input name="IFSCCode" type="text" class="form-control IFSCCode" placeholder="IFSC Code" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground col-12">Add Bank Account</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Bank Details Modal-->
                    <!-- Deposite Coins to Account Modal -->
                    <div class="modal fade" id="DepositeToAccountRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <style>
                                .nav-item-divider {
                                    background-color: rgb(20 24 25 / 30%);
                                }
                            </style>
                            <div class="modal-content siteColor">
                                <form id="DepositeToAccountRequestModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Deposite Coins To Account</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="">
                                                    <img class="siteIcon rounded-circle siteImageSize" src="" />
                                                </span>
                                                <span class="pSiteNameFontSize siteName">Name</span>
                                                <span class="pSiteURLFontSize siteURL">URL</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Username*</label>
                                            <input type="number" name="depositeToAccountCoins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                                            <span>Current Wallet Balance: @coins</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground col-12">Deposite Coins To Site</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Deposite Coins to Account Modal-->
                    <!-- WithDraw Coins to Account Modal -->
                    <div class="modal fade" id="WithDrawToAccountRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <style>
                                .nav-item-divider {
                                    background-color: rgb(20 24 25 / 30%);
                                }
                            </style>
                            <div class="modal-content siteColor">
                                <form id="WithDrawToAccountRequestModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Withdraw Coins from Account</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            <div class="d-flex flex-column text-center col-12">
                                                <span class="">
                                                    <img class="siteIcon rounded-circle siteImageSize" src="" />
                                                </span>
                                                <span class="pSiteNameFontSize siteName">Name</span>
                                                <span class="pSiteURLFontSize siteURL">URL</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Username*</label>
                                            <input type="number" name="withdrawFromAccountCoins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground col-12">Withdraw Coins From Site</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- WithDraw Coins to Account Modal-->
                    <!-- Add Dashboard Image Modal -->
                    <div class="modal fade" id="AddImgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content siteColor">
                                <form id="AddImgModalForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Dashboard Image</h4>
                                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Display Date</label>
                                            <input name="ImgDisplayDate" type="date" class="form-control DisplayDate" placeholder="Display Date" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <input type="file" name="files" class="files" />  @*multiple*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn siteBtnbackground col-12">Add Image</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Dashboard Image Modal-->

                </div>
            </div>
        </main>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content container siteColor">
                <div class="row justify-content-center">
                    <div class="">
                        <div class="card sitebackground">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel"></h4>
                                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x-circle-fill"></i>
                                </div>
                            </div>
                            <div class="card-header py-4 text-center">
                                <img src="~/images/kapunterIcon.jpg" alt="logo" style="height: 100%;width: 50%">
                            </div>

                            <div class="card-body p-4">

                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center pb-0 fw-bold">Welcome to the club!</h4>
                                </div>
                                <form id="MobileModalForm">
                                    <div class="mb-3 form-group">
                                        <label for="userNumber" class="form-label">Mobile Number *</label>
                                        <input class="form-control userNumber" type="number" name="userNumber" placeholder="User Number" autocomplete="off">
                                    </div>

                                    <div class="col-12 mb-0 text-center">
                                        <button class="col-12 btn siteBtnbackground" type="submit"> Get OTP On SMS </button>
                                    </div>
                                </form>
                                <form id="OtpPasswordModalForm">
                                    <div class="mb-3 form-group">
                                        <label for="password" class="form-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" name="password" class="form-control password" placeholder="Enter your password" autocomplete="off">
                                            <div class="input-group-text sitebackground siteColor viewPassword" data-password="false">
                                                <span><i class="bi bi-eye-fill"></i></span>
                                            </div>
                                        </div>
                                        <a href="#" class="float-end"><small>User Password</small></a>
                                    </div>
                                    <div class="col-12 mb-0 text-center">
                                        <button class="col-12 btn siteBtnbackground" type="submit"> Log In </button>
                                    </div>
                                </form>
                                @* <div class="mb-3 mb-3">
                                <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signin" checked="">
                                <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                </div>
                                </div> *@
                            </div>

                        </div>
                        @*  <div class="row mt-3">
                        <div class="col-12 text-center">
                        <p class="text-muted">Don't have an account? <a href="#" class="text-muted ms-1"><b>Sign Up</b></a></p>
                        </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal -->
    <!-- Logout Modal -->
    <div class="modal fade" id="LogOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content container siteColor">
                <div class="row justify-content-center">
                    <div class="">
                        <div class="card">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel"></h4>
                                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x-circle-fill"></i>
                                </div>
                            </div>
                            <div class="card-header py-4 text-center">
                                <img src="~/images/kapunterIcon.jpg" alt="logo" style="height: 100%;width: 50%">
                            </div>

                            <div class="card-body p-4">
                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center pb-0 fw-bold">Logout Confirmation!</h4>
                                </div>
                                <div class="text-center w-75 m-auto">
                                    <p class="text-dark-50 text-center pb-0">Are you sure you want to logout?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-0 text-center">
                            <button class="col-12 btn siteBtnbackground LogoutBtnSubmit" type="submit"> LogOut </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal -->

    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

    <div class="elfsight-app-82a03ea0-0d99-46c7-ba24-acca64318674" data-elfsight-app-lazy></div>

    <div class="card mt-4 footer-nav footernavbar sitebackground siteColor pSiteNameFontSize cursorPointer">
        <div class="row col-12">
            @if (User.Identity.IsAuthenticated)
            {
                @if (!User.Claims.Any(x => x.Type.Contains("Admin")))
                {
                    <div class="col-3 grid-margin stretch-card">
                        <div onclick='window.location.href ="@Configuration["ApiConfigs:MultilogApp:Uri"]"'>
                            <div class="card sitebackground">
                                <div class="card-body text-center">
                                    <div class="row">
                                        <i class="bi bi-house-door"></i>
                                    </div>
                                    <h6 class="text-muted font-weight-normal">
                                        <p class="siteColor pSiteNameFontSize"> Home </p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card IDsList">
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i class="bi bi-plus-circle"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Create </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card MyIDsList">
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i class="bi bi-app"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> IDs </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card" onclick='window.location.href ="/Passbook/Index?viewType=Client"'>
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i class="bi bi-pass"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Passbook </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-3 grid-margin stretch-card">
                        <div onclick='window.location.href ="@Configuration["ApiConfigs:MultilogApp:Uri"]"'>
                            <div class="card sitebackground">
                                <div class="card-body text-center">
                                    <div class="row">
                                        <i class="bi bi-house-door"></i>
                                    </div>
                                    <h6 class="text-muted font-weight-normal">
                                        <p class="siteColor pSiteNameFontSize"> Home </p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card" data-toggle="modal" data-target="#AddSitesModal" id="AddSitesModalbtn">
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i b-8bhurmbywf="" class="bi bi-cart-plus-fill"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Create Site</p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card" onclick='window.location.href ="/Site/Index?viewType=Admin"'>
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i b-8bhurmbywf="" class="bi bi-cart4"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Sites </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 grid-margin stretch-card" onclick='window.location.href="/User/Index"'>
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i class="bi bi-pass"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Users </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 grid-margin stretch-card">
                    <div onclick='window.location.href ="@Configuration["ApiConfigs:MultilogApp:Uri"]"'>
                        <div class="card sitebackground">
                            <div class="card-body text-center">
                                <div class="row">
                                    <i class="bi bi-house-door"></i>
                                </div>
                                <h6 class="text-muted font-weight-normal">
                                    <p class="siteColor pSiteNameFontSize"> Home </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @*  <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - MultiLogApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@

    <script src="~/js/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/formvalidationio/js/formvalidation.min.js"></script>
    <script src="~/formvalidationio/js/plugins/bootstrap3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/userlisting.js"></script>
    <script src="~/js/coins/coins.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/accounts/accountlist.js"></script>
    <script src="~/js/accounts/accountrequestlist.js"></script>
    <script src="~/js/bankdetails.js"></script>
    <script src="~/js/passbookhistory.js"></script>
    <script src="~/js/Home.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
