@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHttpContextAccessor Accessor;
@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.BankAccount.BankDetails>

@{
    var userNumber = Accessor.HttpContext.Session.GetString("UserNumber");
    var userName = Accessor.HttpContext.Session.GetString("UserName");
}
@* <div class="card sitebackground rounded-3 siteColor" style="margin: 0px 0px 10px 0px;text-align: center;">
    <div class="card-body card-body-padding">
        <div class="row Col-12">
            <h3>
                @userName
            </h3>
        </div>
        <div class="row Col-12">
            <p class="card-title">
                @userNumber
            </p>
        </div>
    </div>
</div> *@

<div class="card rounded-3 siteColor">
    <div class="card-body card-body-padding">
        <div class="row Col-12">
            <div class="col-6" style="display: flex;">
                <i class="bi bi-bank"></i>
                <p style="margin-left: 10px;justify-self:center">UPI Details</p>
            </div>
            <div class="col-6">
                <button type="button" class="rounded-3 btn-primary text-nowrap" data-toggle="modal" data-target="#AddAdminUpiDetailModal" id="AddAdminUpiDetailModalBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"></path>
                    </svg>
                    Add New
                </button>
            </div>
        </div>
        <div class="row Col-12">
            <div class="container">
                <!-- For demo purpose -->
                <div class="row py-3"></div>
                <!-- End -->
                <div class="row">
                    <div class="mx-auto">
                        <!-- Accordion -->
                        <div id="accordionExample" class="accordion shadow">
                            <!-- Accordion item 1 -->
                            @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                            {
                                @foreach (var bankDetail in Model.ReturnList)
                                {
                                    <!-- Accordion item 1 -->
                                    <div class="card bankcard" style="margin-bottom: 5%;">
                                        <div id="heading_@bankDetail.BankAccountDetailID" class="card-header shadow-sm border-0 bg-dark">
                                            <p class="mb-0 col-12 FontSize text-uppercase">
                                                <span class="col-1 btn btn-link font-weight-bold crick-accordion-sub row">
                                                    @if (@bankDetail.IsDefault)
                                                    {
                                                        <i class="bi bi-patch-check-fill"></i>
                                                    }
                                                </span>
                                                <span type="button" data-toggle="collapse" data-target="#collapse_@bankDetail.BankAccountDetailID" aria-expanded="true" aria-controls="collapse_@bankDetail.BankAccountDetailID" class="btn btn-link font-weight-bold text-uppercase crick-accordion-sub row col-7" title="">
                                                    <span class="col-6">@bankDetail.AccountDisplayName</span>
                                                    <span class="col-4"><i class="bi bi-arrow-down-up"> </i></span>
                                                </span>
                                                <span class="col-2 btn btn-link font-weight-bold crick-accordion-sub row MakeAdminUpiDefault" upiId="@bankDetail.BankAccountDetailID" data-toggle="modal" data-target="#MakeAdminUpiDetailDefaultModal">
                                                    @if (!@bankDetail.IsDefault)
                                                    {
                                                        <i class="bi bi-patch-plus-fill" title="Make Default"></i>
                                                    }
                                                </span>
                                                <span class="col-2 btn btn-link font-weight-bold crick-accordion-sub row DeleteAdminUpiAccount" upiId="@bankDetail.BankAccountDetailID" data-toggle="modal" data-target="#DeleteAdminUpiDetailsModal">
                                                    <i class="bi bi-trash3-fill" title="Delete Account"> </i>
                                                </span>

                                            </p>
                                        </div>
                                        <div id="collapse_@bankDetail.BankAccountDetailID" aria-labelledby="heading_@bankDetail.BankAccountDetailID" data-parent="#accordionExample" class="collapse show" style="">
                                            <div class="card-body p-4 sitebackground">
                                                <div class="credit rounded-3 mt-2 d-flex justify-content-between align-items-center">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="d-flex flex-column ml-3">
                                                            <p class="">User Name</p>
                                                            <p class="">UPI</p> 
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="d-flex flex-column ml-3 bankDetails">
                                                            <p class="">@bankDetail.AccountDisplayName</p>
                                                            <p class="">@bankDetail.UpiId</p> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                    <hr class="rounded-3">
                                }
                            }
                            else
                            {
                                <span class="col-12 text-center">
                                    <p class="text-uppercase">No Data Found!!!</p>
                                </span>
                            }
                            <!-- End -->

                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add Admin UPI Code-->
<div class="modal fade" id="AddAdminUpiDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content sitebackground siteColor">
            <form id="AddAdminUpiDetailForm">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Add Bank Detail</p>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>UPI</label>
                        <input name="UPI" type="text" class="form-control UPI" placeholder="UPI" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input name="UserName" type="text" class="form-control UserName" placeholder="User Name" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Add UPI Details</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Admin UPI Code -->

<!-- Delete Modal -->
<div class="modal fade" id="DeleteAdminUpiDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Delete Admin UPI Account!</p>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure, want to delete Admin Upi Id?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground DeleteAdminUpiDetailsBtn col-12">Delete Admin UPI Id</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->

<!-- Make Default bank Modal -->
<div class="modal fade" id="MakeAdminUpiDetailDefaultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Primary UPI Account!</p>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure, want to set Primary UPI Account?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground MakeAdminUpiDetailDefaultBtn col-12">Add Primary UPI Account</button>
            </div>
        </div>
    </div>
</div>
<!-- Make Default bank Modal -->
