@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHttpContextAccessor Accessor;
@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.BankAccount.BankDetails>

@{
    var userNumber = Accessor.HttpContext.Session.GetString("UserNumber");
    var userName = Accessor.HttpContext.Session.GetString("UserName");
}
@* <div class="card rounded-3 siteColor" style="margin: 0px 0px 10px 0px;text-align: center;">
    <div class="card-body card-body-padding">
        <div class="row Col-12">
            <h3>
                @userName
            </h3>
        </div>
        <div class="row Col-12">
            <p class="card-title">
                @userNumber
            </p>
        </div>
    </div>
</div> *@

<div class="card rounded siteColor">
    <div class="card-body card-body-padding">
        <div class="row Col-12">
            <div class="col-6" style="display: flex;">
                <i class="bi bi-bank"></i>
                <p style="margin-left: 10px;">Bank Details</p>
            </div>
            <div class="col-6">
                <button type="button" class="rounded-3 btn-primary text-nowrap" data-toggle="modal" data-target="#AddAdminBankDetailModal" id="AddAdminBankDetailModalBtn" style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"></path>
                    </svg>
                    Add New
                </button>
            </div>
        </div>
        <div class="row Col-12">
            <div class="container">
                <!-- For demo purpose -->
                <div class="row py-3"></div>
                <!-- End -->
                <div class="row">
                    <div class="mx-auto">
                        <!-- Accordion -->
                        <div id="accordionExample" class="accordion shadow">
                            <!-- Accordion item 1 -->
                            @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                            {
                                @foreach (var bankDetail in Model.ReturnList)
                                {
                                    <!-- Accordion item 1 -->
                                    <div class="card sitebackground bankcard" style="margin-bottom: 5%;">
                                        <div id="heading_@bankDetail.BankAccountDetailID" class="card-header shadow-sm border-0 bg-dark">
                                            <h2 class="mb-0 col-12">
                                                <span class="col-2 btn btn-link font-weight-bold crick-accordion-sub row">
                                                    @if (@bankDetail.IsDefault)
                                                    {
                                                        <i class="bi bi-patch-check-fill"></i>
                                                    }
                                                </span>
                                                <span type="button" data-toggle="collapse" data-target="#collapse_@bankDetail.BankAccountDetailID" aria-expanded="true" aria-controls="collapse_@bankDetail.BankAccountDetailID" class="btn btn-link font-weight-bold text-uppercase crick-accordion-sub row col-6" title="">
                                                    <span class="col-8">@bankDetail.BankName</span>
                                                    <span class="col-4"><i class="bi bi-arrow-down-up"> </i></span>
                                                </span>
                                                <span class="col-2 btn btn-link font-weight-bold crick-accordion-sub row MakeAdminBankDefault" bankId="@bankDetail.BankAccountDetailID" data-toggle="modal" data-target="#MakeAdminBankDetailDefaultModal">
                                                    @if (!@bankDetail.IsDefault)
                                                    {
                                                        <i class="bi bi-patch-plus-fill" title="Make Default"></i>
                                                    }
                                                </span>
                                                <span class="col-2 btn btn-link font-weight-bold crick-accordion-sub row DeleteAdminBankAccount" bankId="@bankDetail.BankAccountDetailID" data-toggle="modal" data-target="#DeleteAdminBankDetailsModal">
                                                    <i class="bi bi-trash3-fill" title="Delete Account"> </i>
                                                </span>

                                            </h2>
                                        </div>
                                        <div id="collapse_@bankDetail.BankAccountDetailID" aria-labelledby="heading_@bankDetail.BankAccountDetailID" data-parent="#accordionExample" class="collapse show" style="">
                                            <div class="card-body p-4 sitebackground">
                                                <div class="credit rounded-3 mt-2 d-flex justify-content-between align-items-center">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="d-flex flex-column ml-3">
                                                            <span class="">Bank Name</span>
                                                            <span class="">Account Holder Name</span>
                                                            <span class="">Account Number</span>
                                                            <span class="">IFSC Code</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="d-flex flex-column ml-3 bankDetails">
                                                            <span class="">@bankDetail.BankName</span>
                                                            <span class="">@bankDetail.AccountHolderName</span>
                                                            <span class="">@bankDetail.AccountNumber</span>
                                                            <span class="">@bankDetail.IFSCCode</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                    <hr class="rounded-3">
                                }
                            }
                            else
                            {
                                <h5>No Data Found!!!</h5>
                            }
                            <!-- End -->

                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Admin Bank Details Modal -->
<div class="modal fade" id="AddAdminBankDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <form id="AddAdminBankDetailForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Add Bank Detail</h4>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Bank Name</label>
                        <input name="BName" type="text" class="form-control BName" placeholder="Bank Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Account Holder Name</label>
                        <input name="AHName" type="text" class="form-control AHName" placeholder="Account Holder Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Account Number</label>
                        <input name="ANumber" type="number" class="form-control ANumber" placeholder="Account Number" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>IFSC Code</label>
                        <input name="IFSCCode" type="text" class="form-control IFSCCode" placeholder="IFSC Code" autocomplete="off">
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Add Bank Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Admin Bank Details Modal-->

<!-- Delete Modal -->
<div class="modal fade" id="DeleteAdminBankDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Delete Admin Bank Detail!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Are you sure, want to delete Admin Bank Account?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground DeleteAdminBankDetails col-12">Delete Admin Bank Account</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->


<!-- Make Default bank Modal -->
<div class="modal fade" id="MakeAdminBankDetailDefaultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Primary Bank Account!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Are you sure, want to make Primary Bank Account?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground MakeAdminBankDetailDefaultBtn col-12">Add Primary Bank Account</button>
            </div>
        </div>
    </div>
</div>
<!-- Make Default bank Modal -->





