@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.BankAccount.BankDetails>

<div class="container">
    <!-- For demo purpose -->
    <div class="row py-3"></div>
    <!-- End -->
    <div class="row">
        <div class="col-lg-9 mx-auto card p-2" style="
				  background: aliceblue;
				  padding: 40px !important;
				  padding-top: 10px !important;
              ">
            <!-- Accordion -->
            <div class="col-lg-9 mx-auto text-dark text-center p-3">
                <h4 class="">Bank Details</h4>
            </div>
            <div id="accordionExample" class="accordion shadow">

                @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                {
                    @foreach (var bankDetail in Model.ReturnList)
                    {
                        <!-- Accordion item 1 -->
                        <div class="card" style="margin-bottom: 5%;">
                            <div id="heading_@bankDetail.BankAccountDetailID" class="card-header bg-white shadow-sm border-0">
                                <h2 class="mb-0">
                                    <span type="button" data-toggle="collapse" data-target="#collapse_@bankDetail.BankAccountDetailID" aria-expanded="true" aria-controls="collapse_@bankDetail.BankAccountDetailID" class="btn btn-link text-dark font-weight-bold text-uppercase crick-accordion-sub row col-12">
                                        <span class="col-8">@bankDetail.BankName</span>
                                        <span class="col-4"><i class="bi bi-arrow-down-up"></i></span>
                                    </span>
                                </h2>
                            </div>
                            <div id="collapse_@bankDetail.BankAccountDetailID" aria-labelledby="heading_@bankDetail.BankAccountDetailID" data-parent="#accordionExample" class="collapse show" style="">
                                <div class="card-body p-4">
                                    <div class="credit rounded mt-2 d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="d-flex flex-column ml-3">
                                                <span class="">Bank Name</span>
                                                <span class="">Account Holder Name</span>
                                                <span class="">Account Number</span>
                                                <span class="">IFSC Code</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex flex-column ml-3">
                                                <span class="">@bankDetail.BankName</span>
                                                <span class="">@bankDetail.AccountHolderName</span>
                                                <span class="">@bankDetail.AccountNumber</span>
                                                <span class="">@bankDetail.IFSCCode</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    }
                }
                else
                {
                    <h5>No Data Found!!!</h5>
                }
            </div>
            <!-- End -->
        </div>
    </div>
</div>


