@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@inject IWebHostEnvironment HostingEnvironment
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>
@inject IHttpContextAccessor Accessor;
@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
}
<style>
    .row {
    }
</style>

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card rounded-3 siteColor site_@siteDetail.SiteId">
            <div class="card-body cursorPointer">
                <div class="row Col-12">
                    <div class="col-8 viewThisSiteDetails" siteId="@siteDetail.SiteId">
                        <div class="row col-12">
                            <div class="col-3 text-center">
                                <img class="siteImageSize rounded-circle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" />
                            </div>
                            <div class="col-9 align-self-center">
                                <p class="text-uppercase siteName">@siteDetail.SiteName</p>
                                <p class="siteURL">@siteDetail.SiteURL</p>
                                <p class="userName">@siteDetail.UserName</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 contentAlignType">
                        <div class="row col-12">
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrGreen contentAlignType" data-toggle="modal" data-target="#DepositeToAccountRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="DepositeToAccountRequestCoinsBtn">
                                    D
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrred contentAlignType" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="withdrawFromAccountRequestCoinsBtn">
                                    W
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="dropdown">
                                    <div class="rounded-circle userlistingCircle contentAlignType" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="">
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#DepositeToAccountRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="DepositeToAccountRequestCoinsBtn">Deposit</a></li>
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="withdrawFromAccountRequestCoinsBtn">Withdraw</a></li>
                                        <li><a class="dropdown-item" href="/Passbook/Index?viewType=account_@siteDetail.SiteId">View Transaction</a></li>
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#ChangeIDPasswordRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="ChangeIDPasswordRequestBtn">Change Password</a></li>
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#CloseIDRequestModal" accountId="@siteDetail.AccountId" siteid="@siteDetail.SiteId" id="CloseIDRequestBtn">Close ID</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span class="col-12 text-center">
        <p class="text-uppercase">No Data Found!!!</p>
    </span>
}



<!-- Change ID Password Request Modal -->
<div class="modal fade" id="ChangeIDPasswordRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <form id="ChangeIDPasswordRequestForm">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Change ID Password</p>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <p class="text-uppercase siteName">Site Name</p>
                            <p class="siteURL">Site URL</p>
                            <p class="userName">User Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password*</label>
                        <input type="text" name="Password" class="form-control Password" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">CHANGE ID PASSWORD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Change ID Password Request Modal-->
<!-- Close ID Request Modal -->
<div class="modal fade" id="CloseIDRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <div id="">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Close ID</p>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <p class="text-uppercase siteName">Site Name</p>
                            <p class="siteURL">Site URL</p>
                            <p class="userName">User Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Are you sure, want to Close ID?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12" onclick="CloseIDPasswordRequest()">CLOSE ID</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Close ID Request Modal-->
