@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@inject IWebHostEnvironment HostingEnvironment
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>
@inject IHttpContextAccessor Accessor;
@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
}

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card rounded-3 siteColor site_@siteDetail.SiteId">
            <div class="card-body cursorPointer">
                <div class="row Col-12">
                    <div class="col-8 viewThisSiteDetails" siteId ="@siteDetail.SiteId">
                        <div class="row col-12">
                            <div class="col-3 text-center">
                                <img class="siteImageSize rounded-circle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" />
                            </div>
                            <div class="col-9 align-self-center">
                                <p class="text-uppercase siteName">@siteDetail.SiteName</p>
                                <p class="siteURL">@siteDetail.SiteURL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 contentAlignType">
                        <div class="row col-12">
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrGreen contentAlignType" data-toggle="modal" data-target="#DepositeToAccountRequestModal" siteid="@siteDetail.SiteId" id="DepositeToAccountRequestCoinsBtn">
                                    D
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrred contentAlignType" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" siteid="@siteDetail.SiteId" id="withdrawFromAccountRequestCoinsBtn">
                                    W
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="dropdown">
                                    <div class="rounded-circle userlistingCircle contentAlignType" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="">
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#DepositeToAccountRequestModal" siteid="@siteDetail.SiteId" id="DepositeToAccountRequestCoinsBtn">Deposit</a></li>
                                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" siteid="@siteDetail.SiteId" id="withdrawFromAccountRequestCoinsBtn">Withdraw</a></li>
                                        <li><a class="dropdown-item" href="/Passbook/Index?viewType=account_@siteDetail.SiteId">View Transaction</a></li>
                                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                                        <li><a class="dropdown-item" href="#">Close ID</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span>
        No Data Found!!!
    </span>
}

