@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@inject IWebHostEnvironment HostingEnvironment
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>
@inject IHttpContextAccessor Accessor;
@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
}

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card sitebackground siteBorderRadius siteColor site_@siteDetail.SiteId">
            <div class="card-body cursorPointer">
                <div class="row Col-12">
                    <div class="col-8 viewThisSiteDetails" siteId ="@siteDetail.SiteId">
                        <div class="row col-12">
                            <div class="col-3 siteImageDivClass">
                                <img class="siteImageCircle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" />
                            </div>
                            <div class="col-9">
                                <h6 class="pSiteNameFontSize siteName">@siteDetail.SiteName</h6>
                                <p class="pSiteURLFontSize siteURL">@siteDetail.SiteURL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 contentAlignType">
                        <div class="row col-12">
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrGreen contentAlignType" data-toggle="modal" data-target="#DepositeToAccountRequestModal" siteid="2" id="DepositeToAccountRequestCoinsBtn">
                                    D
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle bgclrred contentAlignType" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" siteid="2" id="withdrawFromAccountRequestCoinsBtn">
                                    W
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="rounded-circle userlistingCircle contentAlignType">
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span>
        No Data Found!!!
    </span>
}


<!-- Deposite Coins to Account Modal -->
<div class="modal fade" id="DepositeToAccountRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <form id="DepositeToAccountRequestModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Deposite Coins</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="imageSpanCircle" >
                                <img class="siteIcon siteImageCircle" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Name</span>
                            <span class="pSiteURLFontSize siteURL">URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username*</label>
                        <input type="text" name="depositeToAccountCoins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                        <span>Current Wallet Balance: @coins</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Deposite Coins To Site</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Deposite Coins to Account Modal-->

<!-- WithDraw Coins to Account Modal -->
<div class="modal fade" id="WithDrawToAccountRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <form id="WithDrawToAccountRequestModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Withdraw Coins</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="imageSpanCircle">
                                <img class="siteIcon siteImageCircle" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Name</span>
                            <span class="pSiteURLFontSize siteURL">URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username*</label>
                        <input type="text" name="withdrawFromAccountCoins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Withdraw Coins From Site</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- WithDraw Coins to Account Modal-->
