@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card">
            <div class="card-body">
                <div class="row Col-12">
                    <div class="col-6">
                        <div class="row col-12">
                            <div class="col-4">
                                <img class="siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" style="height:100%;width:100%;border-radius: 50%;margin-top: 4%;
    margin-right: 10%" />
                            </div>
                            <div class="col-8">
                                <h5 class="card-title siteName">@siteDetail.SiteName</h5>
                                <p class="card-title siteURL">@siteDetail.SiteURL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <button data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#UpdateSiteModal" id="updateSiteBtn" style="float: right;border-radius: 5px;margin-top: 15px;">Update Site</button>
                        <button data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#DeleteSiteModal" id="deleteSiteBtn" style="float: right;border-radius: 5px;margin-top: 15px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
}




