@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card sitebackground rounded siteColor site_@siteDetail.SiteId">
            <div class="card-body">
                <div class="row Col-12">
                    <div class="col-9">
                        <div class="row col-12">
                            <div class="col-3 text-center">
                                <img class="siteImageSize rounded-circle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" />
                            </div>
                            <div class="col-9 align-self-center">
                                <p class="fw-bolder siteName">@siteDetail.SiteName</p>
                                <p class="fw-normal siteURL">@siteDetail.SiteURL</p>
                            </div>
                        </div>

                    </div>

                    <div class="align-items-center row col-3">
                        <button type="button" class="rounded btn-primary text-nowrap" data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#CreateIDRequestModal" id="CreateIDRequestModalBtn">Create</button>
                    </div>

                    @* <div class="col-3 contentAlignType cursorPointer">
                        <div class="rounded siteBtnbackground BtnFontSize" data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#CreateIDRequestModal" id="CreateIDRequestModalBtn" ><i class="bi bi-plus-square-fill"></i>Create</div>
                    </div> *@
                </div>
            </div>
        </div>
    }
}
else
{
    <span>
        No Data Found!!!
    </span>
}
<!-- Create ID Request Modal -->
<div class="modal fade" id="CreateIDRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <form id="CreateIDRequestModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">CREATE ID</h4>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Site Name</span>
                            <span class="pSiteURLFontSize siteURL">Site URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username*</label>
                        <input type="text" name="Username" id="Username" class="form-control" placeholder="User Name" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Create ID</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create ID Request Modal-->
