@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.Passbook.PassbookDetailModel>

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var passbookDetail in Model.ReturnList)
    {
        <div class="card rounded-3 siteColor" style="margin: 0px 0px 10px 0px;">
            <div class="card-body">
                <div class="row Col-12">
                    <div class="col-9">
                        <div class="row col-12 viewPassbookHistoryDetails cursorPointer" passbookId="@passbookDetail.PassbookHistoryId">
                            <div class="col-3">
                                <img class="siteImageSize rounded-circle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@passbookDetail.DocumentDetailId.@passbookDetail.FileExtenstion">
                            </div>
                            <div class="col-9 Col-12 align-self-center">
                                <div class="Col-3">
                                    <p class="activityClass text-uppercase">@passbookDetail.ActivityDescription</p>
                                </div>
                                <div class="Col-3" style="margin: -10px 0px 0px 2px;">
                                    <p class="siteUrl">@passbookDetail.SiteURL</p>
                                </div>
                                <div class="Col-3" style="margin: -10px 0px 0px 2px;">
                                    <p class="siteUserName">@passbookDetail.SiteUserName</p>
                                </div>
                                <div class="Col-3" style="margin: -10px 0px 0px 2px;">
                                    <p class="createdOn">@passbookDetail.CreatedDate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        @* <button class="rounded siteBtnbackground" data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#CreateIDRequestModal" id="CreateIDRequestModalBtn" style="float: right"><i class="bi bi-plus-square-fill"></i>Create</button> *@
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>
        No Data Found!!!
    </p>
}