@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.Passbook.PassbookDetailModel>

@if (Model != null && Model.ReturnVal != null)
{
    <div class="BackBtnMyIds card-body card-body-padding row col-12 backbtnNavDesign">
        <div class="col-2" style="margin: -11px;">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </div>
        <div class="col-10"></div>
    </div>

    <div class="" style="background: transparent">
        <div class="card card-body card-body-padding">
            <div class="row Col-12">
                <div class="d-flex flex-column text-center col-12">
                    <span class="">
                        <img class="siteIcon rounded-circle siteImageSize" src="" />
                    </span>
                    <p class="text-uppercase">@Model.ReturnVal.SiteName</p>
                    <p class="">@Model.ReturnVal.SiteURL</p>
                </div>
            </div> 
        </div>
    </div>

    <div class="card sitebackground rounded-3 siteColor">
        <div class="card-body card-body-padding">
            @Model.ReturnVal.ActivityDescription
        </div>
    </div>

    <div class="card sitebackground rounded-3 siteColor">
        <div class="card-body card-body-padding">
            <div class="row Col-12">
                <p class="text-uppercase>Details</p>
            </div>
            <div class="nav-item-divider" style="color:white"></div>
            @if (@Model.ReturnVal.ActivityId != 1 || @Model.ReturnVal.ActivityId != 2)
            {
                <div class="row Col-12">
                    <div class="col-6" style="text-align:left">
                        <p>Coins</p>
                    </div>
                    <div class="col-6" style="text-align:right">
                        <p>@Model.ReturnVal.Coins</p>
                    </div>
                </div>
            }
            @if (@Model.ReturnVal.ActivityId == 3 || @Model.ReturnVal.ActivityId == 5)
            {
                <div class="row Col-12">
                    <div class="col-6 activityType" style="text-align:left">
                        <p>Paid from wallet</p>
                </div>
                <div class="col-6" style="text-align:right">
                        <p>@Model.ReturnVal.Coins</p>
                    </div>
            </div>
            }
            @if (@Model.ReturnVal.ActivityId == 4 || @Model.ReturnVal.ActivityId == 6)
            {
                <div class="row Col-12">
                    <div class="col-6 activityType" style="text-align:left">
                        <p>Paid To wallet</p>
                    </div>
                    <div class="col-6" style="text-align:right">
                        <p>@Model.ReturnVal.Coins</p>
                    </div>
                </div>
            }

            <div class="row Col-12">
                <div class="col-6" style="text-align:left">
                    <p>Reference No</p>
                </div>
                <div class="col-6" style="text-align:right">
                    <p>@Model.ReturnVal.PassbookHistoryId</p>
                </div>
            </div>
            <div class="row Col-12">
                <div class="col-6" style="text-align:left">
                    <p>Request Date</p>
                </div>
                <div class="col-6 createdOn" style="text-align:right">
                    <p>@Model.ReturnVal.CreatedDate</p>
                </div>
            </div>
            <div class="row Col-12">
                <div class="col-6" style="text-align:left">
                    <p>Approved On</p>
                </div>
                <div class="col-6 approvedOn" style="text-align:right">
                    <p>@Model.ReturnVal.ApprovedDate</p>
                </div>
            </div>
        </div>
    </div>
}