<link href="~/css/dashboard.css" rel="stylesheet" />
@model MultiLogApplication.Models.Dashboard.DashboardModel
@inject IConfiguration Configuration;
@inject IHttpContextAccessor Accessor;

@{
    var coins = Accessor.HttpContext.Session.GetString("Coins");
    var userId = Accessor.HttpContext.Session.GetString("UserId");
    var userNumber = Accessor.HttpContext.Session.GetString("UserNumber");
}

<div class='dashboard-content'>
    <div class="row" style="padding-bottom: 50px;">


        @if (User.Identity.IsAuthenticated)
        {
            <div class="main-container">
                <div class="account-container">
                    <div class="depwith">
                        <div class="deposite acc-content" data-toggle="modal" data-target="#DepositCoinsRequestModal" id="DepositCoinsRequestModalBtn" userId="@userId" userNumber="@userNumber">
                            <div>DEPOSIT</div>
                            <i class="arrow up"></i>
                            <i class="arrow up"></i>
                        </div>
                        <div class="withdraw acc-content" data-toggle="modal" data-target="#WithdrawCoinsRequestModal" id="WithdrawCoinsRequestModalBtn" userId="@userId" userNumber="@userNumber">
                            <div>WITHDRAW</div>
                            <i class="arrow down"></i>
                            <i class="arrow down"></i>
                        </div>
                    </div>
                    <div class="wallet acc-content">
                        <img src="/images/kapunterIcon.jpg" alt="">
                        <div>WALLET BALANCE</div>
                        <div>@coins</div>
                    </div>
                </div>
            </div>

            @*   <div class="row col-12 text-white">
        <div class="col-4 inline">
        <div class="card sitebackground leftCard" data-toggle="modal" data-target="#DepositCoinsRequestModal" id="DepositCoinsRequestModalBtn" userId="@userId" userNumber="@userNumber">
        <div class="container">
        <h6 style="margin-left: 10%;margin-top: 30%">
        <b class="DashboardIconText">DEPOSIT</b>
        </h6>
        <h1 style="margin-left: 20%;">
        <i class="bi bi-chevron-double-up"></i>
        </h1>

        </div>
        </div>
        </div>

        <div class="col-4 inline">
        <div class="card sitebackground middleCard">
        <div class="container">
        <img src="~/images/kapunterIcon.jpg" alt="cricket ipl" class="DashboardIcontopradius">
        <h6 class="font-weight-normal DashboardIconText">
        WALLET BALANCE
        </h6>
        <h3 class="font-weight-normal DashboardIconText">@coins</h3>
        </div>
        </div>
        </div>

        <div class="col-4 inline">
        <div class="card sitebackground rightCard" data-toggle="modal" data-target="#WithdrawCoinsRequestModal" id="WithdrawCoinsRequestModalBtn" userId="@userId" userNumber="@userNumber">
        <div class="container">
        <h6 style="margin-left:35%;margin-top:28%;"><b class="DashboardIconText">WITHDRAW</b></h6>
        <h1 style="margin-left:40%"><i class="bi bi-chevron-double-down"></i></h1>
        </div>
        </div>
        </div>

        </div> *@
        }
        else
        {
            <div class="main-container">
                <div class="account-container">
                    <div class="depwith">
                        <div class="deposite acc-content">
                            <div>DEPOSIT</div>
                            <i class="arrow up"></i>
                            <i class="arrow up"></i>
                        </div>
                        <div class="withdraw acc-content">
                            <div>WITHDRAW</div>
                            <i class="arrow down"></i>
                            <i class="arrow down"></i>
                        </div>
                    </div>
                    <div class="wallet acc-content">
                        <img src="/images/kapunterIcon.jpg" alt="">
                        <div>WALLET BALANCE</div>
                        <div>0</div>
                    </div>
                </div>
            </div>
        }


    </div>
    @* <img src="~/images/banner_ipl.png" alt="cricket ipl" width="100%" height="auto"> *@
    @if (User.Identity.IsAuthenticated && Model.DashboardImages != null && Model.DashboardImages.Count > 0)
    {
        <div id="DashboardImageSlides" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                @if (Model.DashboardImages != null && Model.DashboardImages.Count > 0)
                {
                    @foreach (var DashboardImage in Model.DashboardImages)
                    {
                        <div class="carousel-item active" data-bs-interval="8000">
                            <img src="@Configuration["StoragePath:DashboardImages:Path"]\@DashboardImage.DocumentDetailId.@DashboardImage.FileExtenstion" class="d-block w-100" alt="Dsashbaord Image">
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#DashboardImageSlides" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#DashboardImageSlides" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }

    @if (User.Identity.IsAuthenticated && Model.SiteDetail != null && Model.SiteDetail.Count > 0)
    {
        <div class="mt-4 bg-dark rounded-3">
            <div class="row col-12">
                <div class="col-6">
                    <h6 class="text-white" style="padding-right: 15px;font-size: smaller;">My IDs</h6>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a href="#" class="text-white IDsList" style="padding-right: 15px;font-size: smaller;">
                        <i class="bi bi-plus-circle-fill"></i> Create ID
                    </a>
                    <a href="#" class="text-primary" style="padding-right: 15px;font-size: smaller;">View All</a>
                </div>
            </div>
        </div>

        <div id="DashboardSiteSlides" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                @if (Model.SiteDetail != null && Model.SiteDetail.Count > 0)
                {
                    @foreach (var SiteDetail in Model.SiteDetail)
                    {
                        <div class="carousel-item active" data-bs-interval="20000">
                            <div class="card text-white rounded-3 sitebackground dashboardSite site_@SiteDetail.SiteId" style="padding: 30px;">
                                <div class="row Col-12 bg-dark-1 p-2 rounded-3">
                                    <div class="col-10">
                                        <div class="row col-12">
                                            <div class="col-3">
                                                <img src="@Configuration["StoragePath:SiteIcon:Path"]\@SiteDetail.DocumentDetailId.@SiteDetail.FileExtenstion" alt="cricket ipl" class="rounded-3 siteImageSize siteIcon">
                                            </div>
                                            <div class="col-9 align-self-center">
                                                <p class="text-uppercase siteName"> @SiteDetail.SiteName</p>
                                                <p class="siteURL"> @SiteDetail.SiteURL </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2">
                                        <a href="@SiteDetail.SiteURL" target="_blank">
                                            <i class="bi bi-arrow-up-right-square-fill" style="float: right;padding: 15px;"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="row Col-12 bg-dark-1 p-2">
                                    <div class="col-3 tempclass" data-toggle="modal" data-target="#DepositeToAccountRequestModal" siteid="@SiteDetail.SiteId" id="DepositeToAccountRequestCoinsBtn">
                                        <div class="card bg-dark p-2">
                                            <div class="card-body text-center">
                                                <div class="row">
                                                    <i class="bi bi-chevron-double-up" style="color: green;"></i>
                                                </div>
                                                <p class="fw-bolder">
                                                    Deposite
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 tempclass" data-toggle="modal" data-target="#WithDrawToAccountRequestModal" siteid="@SiteDetail.SiteId" id="withdrawFromAccountRequestCoinsBtn">
                                        <div class="card bg-dark p-2">
                                            <div class="card-body text-center">
                                                <div class="row">
                                                    <i class="bi bi-chevron-double-down" style="color: darkred;"></i>
                                                </div>
                                                <p class="fw-bolder">
                                                    Withdraw
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 tempclass">
                                        <div class="card bg-dark p-2">
                                            <div class="card-body text-center">
                                                <div class="row">
                                                    <i class="bi bi-key-fill"></i>
                                                </div>
                                                <p class="fw-bolder">
                                                    Password
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 tempclass">
                                        <div class="card bg-dark p-2">
                                            <div class="card-body text-center">
                                                <div class="row">
                                                    <i class="bi bi-ticket-detailed-fill"></i>
                                                </div>
                                                <p class="fw-bolder">
                                                    View Detail
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#DashboardSiteSlides" data-bs-slide="prev" style="margin-left: -100px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#DashboardSiteSlides" data-bs-slide="next" style="margin-right: -100px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
</div>

