@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.Coin.CoinsRequestModel>

<div class="row mt-4">
    <div class="col-12 text-center">
        <p class="text-uppercase">Coins History (<span id="coinHistoryUserid"></span>)</p>
    </div>
</div>

<div class="card mt-4 sitebackground siteColor">
    <div class="card-body customtable">
        @* <h5 class="card-title">Coins History</h5> *@
        <!-- Table with hoverable rows -->
        <table class="table table-hover" id="coinList">
            <thead>
                <tr>
                    <th scope="col"><p class="">Txn By</p></th>
                    <th scope="col"><p class="">Txn Date</p></th>
                    <th scope="col"><p class="">Txn Type</p></th>
                    <th scope="col"><p class="">Txn Coins</p></th>
                    <th scope="col"><p class="">Total Coins</p></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                {
                    @foreach (var user in Model.ReturnList)
                    {
                        <tr class="@user.CoinTypeColor">
                            <td><p>@user.CreatedBy</p></td>
                            <td><p>@user.CreatedDate</p></td>
                            <td><p>@user.TransactionType</p></td>
                            <td><p>@user.Coins</p></td>
                            <td><p>@user.TotalCoins</p></td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center"><td colspan="5"><p>No Data Found!!</p></td></tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
    </div>
</div>




