@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.Coin.CoinsToAccountRequestModel>

<div class="row mt-4">
    <div class="col-12 text-center">
        <p class="text-uppercase">Withdraw Coins from sites Request</p>
    </div>
</div>

<div class="card mt-4 sitebackground siteColor">
    <div class="card-body customtable">
        @* <h5 class="card-title">Withdraw Coins from sites Request</h5> *@
        <!-- Table with hoverable rows -->
        <table class="table table-hover" id="userList">
            <thead>
                <tr class="tableHeaderClass">
                    <th scope="col"><p class="text-uppercase">User Number</p></th>
                    <th scope="col"><p class="text-uppercase">Coins</p></th>
                    <th scope="col"><p class="text-uppercase">Request Date</p></th>
                    <th scope="col"><p class="text-uppercase">Action</p></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                {
                    @foreach (var user in Model.ReturnList)
                    {
                        <tr>
                            <td><p> @user.UserNumber</p></td>
                            <td> <p>@user.Coins</p> </td>
                            <td><p>@user.CreatedDate</p></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" data-toggle="modal" data-target="#withdrawCoinsFromAccountModal" siteId=@user.SiteId userId=@user.UserId UserNumber="@user.UserNumber" coinRequestID="@user.CoinsRequestId" id="withdrawCoinsFromAccountBtn" siteIcon="@Configuration["StoragePath:SiteIcon:Path"]\@user.DocumentDetailId.@user.FileExtenstion"> <i class="bi bi-person-fill-up"></i></button>
                                    <button type="button" data-toggle="modal" data-target="#DeleteCoinsToAccountRequest" siteId=@user.SiteId userId=@user.UserId UserNumber="@user.UserNumber" coinRequestId="@user.CoinsRequestId" id="DeleteCoinsToAccountRequestBtn"> <i class="bi bi-person-fill-slash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center"><td colspan="5"><p>No Data Found!!</p></td></tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
    </div>
</div>




