@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.Coin.CoinsRequestModel>


<div class="row mt-4">
    <div class="col-6">
        <h6 class="text-white">Withdraw Coin Request</h6>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body customtable">
        <h5 class="card-title">Withdraw Coin Request</h5>
        <!-- Table with hoverable rows -->
        <table class="table table-hover" id="userList">
            <thead>
                <tr class="tableHeaderClass">
                    <th scope="col">User Number</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Coins</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                {
                    @foreach (var user in Model.ReturnList)
                    {
                        <tr>
                            <td scope="row">@user.UserName</td>
                            <td>@user.UserNumber</td>
                            <td>@user.Coins</td>
                            <td>@user.UpdatedDate</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" data-toggle="modal" data-target="#DeleteCoinRequest" userId=@user.UserId UserNumber="@user.UserNumber" coinRequestId="@user.CoinsRequestId" id="deleteCoinRequestBtn"> <i class="bi bi-person-fill-slash"></i></button>
                                    <button type="button" data-toggle="modal" data-target="#WithdrawCoinsModal" userId=@user.UserId UserNumber="@user.UserNumber" coinRequestId="@user.CoinsRequestId" id="withdrawCoinsBtn"> <i class="bi bi-person-fill-down"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5">No Data Found!!</td></tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
    </div>
</div>





